body {
    padding-bottom: 20px;
  }

.jumbotron {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-image: url("./images/weather.png");
    color: white;
    border-radius: 0;
    margin: 20px;
 }

 .container {
     padding: 20px; 
     height: 400px;
     width: 100px; 
 }

 .recent-search {
     margin-top: 20px;
}

#dayOne {

     background-color: #BCF2FF;
     color: black;
     width: 160px;
     height: 160px;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     }

 #dayTwo {

    background-color: #BCF2FF;
    color: black;
    width: 160px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
   }

#dayThree {

    background-color: #BCF2FF;
    color: black;
    width: 160px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
   }


#dayFour {

    background-color: #BCF2FF;
    color: black;
    width: 160px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
   }

#dayFive {

    background-color: #BCF2FF;
    color: black;
    width: 160px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
