body {
    padding-bottom: 20px;
  }

.jumbotron {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-image: url("./images/weather.png");
    color: white;
    border-radius: 0;
    margin: 20px;
 }

 .container {
     padding: 20px; 
     height: 400px;
     width: 100px; 
 }

 .recent-search {
     margin-top: 20px;
}

#one {

     background-color: #BCF2FF;
     color: black;
     width: 150px;
     height: 150px;
     }

 #two {

    background-color: #BCF2FF;
    color: black;
    width: 150px;
    height: 150px;
   }

#three {

    background-color: #BCF2FF;
    color: black;
    width: 150px;
    height: 150px;
   }

#four {

    background-color: #BCF2FF;
    color: black;
    width: 150px;
    height: 150px;
   }

#five {

    background-color: #BCF2FF;
    color: black;
    width: 150px;
    height: 150px;
}

