body {
    padding-bottom: 20px;
  }

.jumbotron {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-image: url("./images/weather.png");
    color: white;
    border-radius: 0;
    margin: 20px;
 }

 .container {
     /* border: 1px solid #d3d3d3;; */
     /* background:#d3d3d3; */
     padding: 20px; 
     height: 300px;
     width: 100px; 
 }

